@import "tailwindcss";

@theme {
  --font-sans: 'Nunito', sans-serif;
  --font-serif: 'Lora', serif;
}

@layer base {
  body {
    @apply bg-stone-100 text-gray-900 min-h-screen font-sans text-base;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
